
<!-- Main Component -->
<div class="main">
    
    <main class="content px-3 py-2">
        <div class="container-fluid">
            <div class="container col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="row mt-5 justify-content-center">
                    <div >
                        <div class="card">
                        <% if flash[:error] %>
                            <div class="alert alert-danger text-center"role="alert">
                            <%= flash[:error] %>
                            </div>
                        <% end %>
                        <% if flash[:success] %>
                            <div class="alert alert-success text-center"role="alert">
                            <%= flash[:success] %>
                            </div>
                        <% end %>
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#view-halls" data-toggle="tab">View Halls</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#pending-requests" data-toggle="tab">Requests Pending </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#view-keyholders" data-toggle="tab">View Keyholders</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="view-halls">
                                        <ul class="list-group">
                                        <% @halls.each do |hall| %>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <%= hall.hall_name %>
                                            <%= form_with model: @hall, url: book_path do |form| %>
                                                <%= form.hidden_field :hall_id, value: hall.hall_id %>
                                                <%= form.hidden_field :hall_name, value: hall.hall_name %>
                                                <%= form.submit "Book Hall", class: "btn btn-primary" %>
                                            <% end %>
                                            </li>
                                        <% end %>
                                        </ul>
                                    </div>

                                    <div class="tab-pane fade" id="pending-requests">
                                        <ul class="list-group">
                                        <% @hallbookings.each do |hallbookings| %>
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                            Booked By: <%= hallbookings.name %><br>
                                            Hall Name: <%= hallbookings.hall_name %><br>
                                            Date: <%= hallbookings.date_ %><br>
                                            From: <%= hallbookings.start_time.strftime('%H:%M:%S') %><br>
                                            To: <%= hallbookings.end_time.strftime('%H:%M:%S') %><br>
                                            Reason: <%= hallbookings.reason %><br>
                                            <%= form_with(model: @hallbookings, url:pending_path, method: 'post') do |form| %>
                                                <%= form.hidden_field :hall_id, value: hallbookings.hall_id %>
                                                <%= form.hidden_field :admin_id, value: hallbookings.admin_id %>
                                                <%= form.hidden_field :start_time, value: hallbookings.start_time %>
                                                <%= form.hidden_field :end_time, value: hallbookings.end_time %>
                                                <%= form.hidden_field :date_, value: hallbookings.date_ %>
                                                <%= form.submit "Approve", name: "commit_action", value: "Approve", class: "btn btn-primary" %>
                                                <%= form.submit "Reject", name: "commit_action", value: "Reject", class: "btn btn-primary" %>
                                            <% end %>
                                            </li>
                                        <% end %>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade show" id="view-keyholders">
                                    <ul class="list-group">
                                      <% @keyholders.each do |keyholder| %>
                                        <li class="list-group-item">
                                          <strong>Name:</strong> <%= keyholder.user_name %><br>
                                          <strong>Location:</strong> <%= keyholder.building %> <%= keyholder.room_number %><br>
                                          <strong>Phone Number:</strong> <%= keyholder.user_phone_number %>
                                        </li>
                                      <% end %>
                                    </ul>
                                  </div>
                                  
                                    
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
crossorigin="anonymous"></script>

<!-- Include Bootstrap JS and jQuery script links here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>